<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preload" href="fonts.gstatic.com">
  <link rel="preload" href="fonts.googleapis.com">
  <link rel="preload" href="lqip.lqip.io">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <link rel="stylesheet" href="/public/stylesheets/index.css">
  <script src="http://localhost:8080/lqip.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
<body>
  {% include 'includes/nav' %}
